{{- if .Store.Get "hasMermaid" }}
<script src="{{ "vendor/mermaid/mermaid.min.js" | relURL }}"></script>
<script src="{{ "js/mermaid-init.js" | relURL }}"></script>
{{- end }}
<script src="{{ "vendor/katex/katex.min.js" | relURL }}"></script>
<script src="{{ "vendor/katex/contrib/auto-render.min.js" | relURL }}"></script>
<script src="{{ "js/katex-render.js" | relURL }}"></script>
<script src="{{ "js/code-copy.js" | relURL }}"></script>
<script src="{{ "js/search.js" | relURL }}"></script>
<script src="{{ "js/sidebar-tree.js" | relURL }}"></script>
<script src="{{ "js/toc.js" | relURL }}"></script>
<script src="{{ "js/theme.js" | relURL }}"></script>