{{- if or .Params.lastmod .Params.lastcommit }}
<footer class="page-footer">
  {{- with .Params.lastmod }}
  <p class="page-footer-line"><strong>Last modified:</strong> {{ dateFormat "2006-01-02" . }}</p>
  {{- end }}
  {{- with .Params.lastcommit }}
  <p class="page-footer-line">
    {{- partial "icon.html" (dict "name" "git" "class" "git-icon") }}
    <strong>Last commit:</strong> <code>{{ . }}</code> by {{ $.Params.lastcommit_author }} on {{ dateFormat "2006-01-02 15:04" $.Params.lastcommit_date }}
  </p>
  {{- end }}
</footer>
{{- end }}